.form {
  background:#eee;
  padding:20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  input, textarea, button {
    margin-bottom:10px;

    &:last-child {
      margin-bottom: 0;
    ;
    }
  }

  textarea {
    resize:none;
  }

  .form-control {
    width:100%;
    border:#CCC 1px solid;
    border-radius:0;
  }

  .submitButton {
    align-self:flex-end;
    width:80px;
    background:#3BA9DE;
    border-radius: 5px;
    padding: 7px;
    line-height:20px;
    text-transform: uppercase;
    border:none;
    color:#fff;
    font-weight: bold;
    font-size: 12px;
  }
}
